Dataset
.venv
runs
yolo11n-pose.pt
yolo11n-seg.pt
yolo26n.pt
ccpd_meta.pkl
yolo_pose_plate
yolo_seg_plate
crnn_recognition(2).ipynb
crnn_plate
IS_AY2526
runs_plate_recog
paddleocr_baseline
ccpd_meta.pkl
end_to_end_eval
runs_plate_recog
lpnr_plate