numpy>=1.26,<2.3
pandas>=2.0
matplotlib>=3.8
pillow>=10.0
opencv-python>=4.9
scikit-learn>=1.4
tqdm>=4.66
 
torch>=2.3
torchvision>=0.18

ultralytics>=8.3
 
paddleocr>=3.0
jupyter>=1.0
ipykernel>=6.29
nbformat>=5.10
pyyaml>=6.0
